// my colors
$personal-dark: #0C0C0C;
$personal-dark-gray: #2D332F;
$personal-gray: #566059;
$personal-yellow: #FDCA00;
$personal-light-yellow: #FFFFCA;
$personal-white: #F7F7F7;

$theme-colors:(
	"personal-dark": $personal-dark,
	"personal-dark-gray": $personal-dark-gray,
	"personal-gray": $personal-gray,
	"personal-yellow": $personal-yellow,
	"personal-light-yellow": $personal-light-yellow,
	"personal-white": $personal-white
);

// my classes
$link-color: $personal-yellow;

// import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
